name: Metrics
on:
  workflow_dispatch:
  push:
  schedule:
    - cron: "0 0 * * *"

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: WeiErLiTeo
          template: classic
          base: header, activity, community, repositories, metadata
          filename: github-metrics.svg
          plugin_introduction: yes
          plugin_isocalendar: yes
          plugin_languages: yes
